{% extends 'base.html.j2' %}

{% block content %}
<form action="/shoes" method="POST">
    {% include 'partials/shoes_form.html.j2' %}

    <p>
        <button type="submit">Add</button>
    </p>
</form>
{% endblock %}